body{
    background-color: #333;
}

.card{
    width: 250px;
    height: 250px;
    font-size: 70px;
    color:aliceblue;
    position:absolute;
}
.c1{
    background-color: crimson;
    top:60px;
    left:60px;
    /* De base les élements positionnés respectent le contexte d'empilement normal */
    /* Avec z-index on change le contexte d'empilement */
    /* z-index:1; */
}
.c2{
    background-color: royalblue;
    top:70px;
    left:70px;
    /* z-index:2; */
}
.c3{
    background-color: lightgreen;
    top:80px;
    left:80px;
}
.c4{
    background-color: orangered;
    top:90px;
    left:90px;
    /* fais asser l'élement à la dernière position d'empilement */
    z-index:-1
}


.container{
    width: 250px;
    height: 250px;
    background-color: royalblue;
    position:relative;
    margin:150px 0 0 150px;
  

    /* Autres props qui change le context d'empilement */
    transform: rotate(45deg);
    opacity: 0.99;
  
}

.child{
    width: 50px;
    height: 50px;
    background-color: violet;
    position:relative;
    z-index:-1;
   
}