body{
    background-color: #333;
}
.box{
    width: 200px;
    height: 200px;
    margin:200px auto;
    background-color: crimson;

    /* Appeler l'animation  */
    /* name, duration, timing-function, iteration count  */
    animation:
        spinAndMove 2s ease-in infinite alternate;
}

/* Mettre en pause une animation */
.box:hover{
    animation-play-state: paused;
}

/* Instruction pour définir l'animation  */
@keyframes spinAndMove{
0% {
    transform: rotate(0deg) translateX(0px);
  
}
50%{
    transform: rotate(360deg) translateX(200px);
}
100%{
    transform: rotate(0deg) translateX(0px);
}
}

